<h1 class="banner">Stupid Coaching</h1>
<p>Ask your coach anything !</p>
<form action="/answer" method="get">
  
  <div class="field has-addons">
  <div class="control">
    <input class="input" type="text" placeholder="Write your question..." name="question">
  </div>
  <div class="control">
    <input type="submit" value="Ask!" class="button is-info">
  </div>
</div>
  <%# <input type="text" name="question">
  <input type="submit" value="Ask!"> %>

</form>