// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css";


 body {
   font-family: Helvetica, Arial, sans-serif;
 }


h1 {
    font-size: 50px;
}


  a {
    color: #6891C9;
  }
  
  .you {
    border-left: 6px solid #DDDDDD;
    padding-left: 20px;
  }

  .answer {
    border-left: 6px solid #DDDDDD;
    padding-left: 20px;
    background-color: #FFFFE1;
  }

  .italic {
    font-style: italic;
  }